// - Variables
// - Browser defaults
// - Base styles
// - Font styles
// The foregoing remain constant throughout all styles specified for all screens.

/* Global Varibables */
$primary-1: hsl(238, 29%, 16%);
$primary-2: hsl(14, 88%, 65%);
$gradient-1: hsl(273, 75%, 66%);
$gradient-2: hsl(240, 73%, 65%);
$neutral-1: hsl(237, 12%, 33%);
$neutral-2: hsl(240, 6%, 50%);
$divider: hsl(240, 5%, 91%);

$body-font-size: 12px;

/* Reset browser defaults */
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body,
h1, h2, h3, h4, h5, h6,
p, a, ul, li,
img {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Base + Font styles */
body {
    font-family: "Kumbh Sans";

    background-image: linear-gradient(#af67e9, #6565e7);
    background-repeat: no-repeat;
}

// - Small mobile - 320px
// - Medium mobile - 375px
// - Large mobile - 425px
// - Tablet - 768px
// - Laptop - 1024px
// - Large laptop: 1440px
// - TVs + big monitors: 2560px
// The foregoing a default breakpoints to consider when building a fluid website.

/* Mobile styles -- Starting point */
// 12 col | 8 col | 4 col
body {
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    min-height: 768px;
    height: 100vh;

    margin: 0 auto;
    padding: 72px 24px;
}

main {
    color: $primary-1;
    background-color: white;

    min-width: 280px;
    max-width: 344px;

    border-radius: 1rem;
    padding: 1rem;

    box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
