/* 
    - Variables
    - Browser defaults
    - Base styles
    - Font styles

    The foregoing remain constant throughout all styles specified for all screens.
*/

/* Varibables */
$text-primary-1: hsl(238, 29%, 16%);
$text-primary-2: hsl(14, 88%, 65%);

$gradient-1: hsl(273, 75%, 66%);
$gradient-2: hsl(240, 73%, 65%);

$text-neutral-1: hsl(237, 12%, 33%);
$text-neutral-2: hsl(240, 6%, 50%);

$divider: hsl(240, 5%, 91%);

$font-stack: "Kumbh Sans";

/* Reset browser defaults */
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Base + Font styles */
/* -------------------- */

/*
    - Small mobile - 320px
    - Medium mobile - 375px
    - Large mobile - 425px
    - Tablet - 768px
    - Laptop - 1024px
    - Large laptop: 1440px
    - TVs + big monitors: 2560px

    The foregoing a default breakpoints to consider when building a fluid website.
*/

/* Mobile styles -- Starting point */
/* 12 col | 8 col | 4 col */
/* -------------------- */

/* Footer styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
